<div class="container content">
    <div class="row">
        <div class="col-lg-12">
            <h1>My Account</h1>
            <hr>
        </div>
    </div>
    <div style="margin-top:10px">
        <div class="row">
            <div class="col-lg-4">
                <div class="upload">
                    <div class="box container-fluid">
                        <div class="file-upload text-center">
                            <img src="assets/img/uploadfoto.png" alt="" />
                            <input type="file" id="file" class="inputfile inputfile-1 upload" nv-file-select uploader="uploader"/>
                            <label for="file"><span><i class="fa fa-upload" style="padding-right: 5px;"></i>Choose a file&hellip;</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    <label for="">Company Name</label>
                    <input type="text" class="form-control" ng-model="dataProfile.company_name">
                </div>
                <div class="form-group">
                    <label for="">About</label>
                    <textarea type="text" class="form-control" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="">No. Handphone</label>
                    <input type="text" class="form-control">
                </div>
                <label for="">City</label>
                <select class="form-group form-control" id="region">
                    <option ng-repeat="cities in citiesData" value="{{cities.id_city}}" ng-if="dataProfile.city_name == cities.city_name" selected="selected">{{cities.city_name}}</option>
                    <option ng-repeat="cities in citiesData" value="{{cities.id_city}}" ng-if="dataProfile.city_name != cities.city_name">{{cities.city_name}}</option>
                </select>
                <div class="form-group">
                    <label for="">Address</label>
                    <textarea type="text" class="form-control" rows="2">{{dataProfile.address}}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-success btn-lg pull-right btn-edit-profile">Save Changes</button>
        </div>
    </div>
</div>
