<div class="top-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Goods Catalogue</h1>
                <p>Seek what you need</p>
            </div>
        </div>
        <div class="row">
    		<div class="col-lg-8 col-lg-offset-2 text-center">
    			<div class="search">
    				<div class="btn-search">
                        <input class="input-lg" type="text">
                        <button class="btn btn-success btn-lg" style="vertical-align:0px">Search</button>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-9 content-faq">
            <h1 class="page-header test">Basic Question : Sidekeek 101</h1>
            <h4>What is Sidekeek?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed lectus ac turpis rutrum efficitur eget vitae lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eu mauris maximus, pretium tortor in, dictum enim. Nunc blandit molestie libero, sit amet accumsan ante pretium ut. Aenean et dolor dui. Pellentesque ut lorem in mi tincidunt feugiat. Praesent non velit at lacus dignissim condimentum vel nec nisl. Donec nec eros vitae augue egestas rutrum eget vel quam. Pellentesque tellus turpis, commodo in rhoncus sed, vehicula et tortor. Nam placerat vehicula diam, sit amet hendrerit lectus convallis vitae. Integer interdum pharetra ipsum id pulvinar. Maecenas vel arcu non odio ornare tempus. Integer non neque sit amet diam pulvinar tincidunt sit amet vitae ante. Aliquam sit amet risus tellus.</p>
            <h4>Terms</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed lectus ac turpis rutrum efficitur eget vitae lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eu mauris maximus, pretium tortor in, dictum enim. Nunc blandit molestie libero, sit amet accumsan ante pretium ut. Aenean et dolor dui. Pellentesque ut lorem in mi tincidunt feugiat. Praesent non velit at lacus dignissim condimentum vel nec nisl. Donec nec eros vitae augue egestas rutrum eget vel quam. Pellentesque tellus turpis, commodo in rhoncus sed, vehicula et tortor. Nam placerat vehicula diam, sit amet hendrerit lectus convallis vitae. Integer interdum pharetra ipsum id pulvinar. Maecenas vel arcu non odio ornare tempus. Integer non neque sit amet diam pulvinar tincidunt sit amet vitae ante. Aliquam sit amet risus tellus.</p>
            <h4>What is Sidekeek for?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed lectus ac turpis rutrum efficitur eget vitae lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eu mauris maximus, pretium tortor in, dictum enim. Nunc blandit molestie libero, sit amet accumsan ante pretium ut. Aenean et dolor dui. Pellentesque ut lorem in mi tincidunt feugiat. Praesent non velit at lacus dignissim condimentum vel nec nisl. Donec nec eros vitae augue egestas rutrum eget vel quam. Pellentesque tellus turpis, commodo in rhoncus sed, vehicula et tortor. Nam placerat vehicula diam, sit amet hendrerit lectus convallis vitae. Integer interdum pharetra ipsum id pulvinar. Maecenas vel arcu non odio ornare tempus. Integer non neque sit amet diam pulvinar tincidunt sit amet vitae ante. Aliquam sit amet risus tellus.</p>
            <h4>How it works?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed lectus ac turpis rutrum efficitur eget vitae lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eu mauris maximus, pretium tortor in, dictum enim. Nunc blandit molestie libero, sit amet accumsan ante pretium ut. Aenean et dolor dui. Pellentesque ut lorem in mi tincidunt feugiat. Praesent non velit at lacus dignissim condimentum vel nec nisl. Donec nec eros vitae augue egestas rutrum eget vel quam. Pellentesque tellus turpis, commodo in rhoncus sed, vehicula et tortor. Nam placerat vehicula diam, sit amet hendrerit lectus convallis vitae. Integer interdum pharetra ipsum id pulvinar. Maecenas vel arcu non odio ornare tempus. Integer non neque sit amet diam pulvinar tincidunt sit amet vitae ante. Aliquam sit amet risus tellus.</p>
            <h4>How do i report a user?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed lectus ac turpis rutrum efficitur eget vitae lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eu mauris maximus, pretium tortor in, dictum enim. Nunc blandit molestie libero, sit amet accumsan ante pretium ut. Aenean et dolor dui. Pellentesque ut lorem in mi tincidunt feugiat. Praesent non velit at lacus dignissim condimentum vel nec nisl. Donec nec eros vitae augue egestas rutrum eget vel quam. Pellentesque tellus turpis, commodo in rhoncus sed, vehicula et tortor. Nam placerat vehicula diam, sit amet hendrerit lectus convallis vitae. Integer interdum pharetra ipsum id pulvinar. Maecenas vel arcu non odio ornare tempus. Integer non neque sit amet diam pulvinar tincidunt sit amet vitae ante. Aliquam sit amet risus tellus.</p>
            <h4>I have more question to ask, what should i do?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed lectus ac turpis rutrum efficitur eget vitae lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eu mauris maximus, pretium tortor in, dictum enim. Nunc blandit molestie libero, sit amet accumsan ante pretium ut. Aenean et dolor dui. Pellentesque ut lorem in mi tincidunt feugiat. Praesent non velit at lacus dignissim condimentum vel nec nisl. Donec nec eros vitae augue egestas rutrum eget vel quam. Pellentesque tellus turpis, commodo in rhoncus sed, vehicula et tortor. Nam placerat vehicula diam, sit amet hendrerit lectus convallis vitae. Integer interdum pharetra ipsum id pulvinar. Maecenas vel arcu non odio ornare tempus. Integer non neque sit amet diam pulvinar tincidunt sit amet vitae ante. Aliquam sit amet risus tellus.</p>
            <h4>i'm interesting in partnering with Sidekeek, how can i get in touch?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed lectus ac turpis rutrum efficitur eget vitae lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eu mauris maximus, pretium tortor in, dictum enim. Nunc blandit molestie libero, sit amet accumsan ante pretium ut. Aenean et dolor dui. Pellentesque ut lorem in mi tincidunt feugiat. Praesent non velit at lacus dignissim condimentum vel nec nisl. Donec nec eros vitae augue egestas rutrum eget vel quam. Pellentesque tellus turpis, commodo in rhoncus sed, vehicula et tortor. Nam placerat vehicula diam, sit amet hendrerit lectus convallis vitae. Integer interdum pharetra ipsum id pulvinar. Maecenas vel arcu non odio ornare tempus. Integer non neque sit amet diam pulvinar tincidunt sit amet vitae ante. Aliquam sit amet risus tellus.</p>
        </div>
        <div class="col-lg-3">
            <div class="sidebar-affix" bs-affix data-offset-top="310">
                <h4>FAQ</h4>
                <ul class="nav">
                    <li><a href="#"><h5>Basic Question</h5></a></li>
                    <li><a href="#">Sidekeek 101</a></li>
                    <li><a href="#"><h5>Seekr Question</h5></a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#"><h5>Host Question</h5></a></li>
                    <li><a href="#">Start Hosting</a></li>
                    <li><a href="#">Profile Settings</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
