<div class="background"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="desc">
				<h1>Business-to-Business Marketplace</h1>
				<p>Temukan berbagai supplier barang dan jasa, hanya disini.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="search">
				<div class="btn-search">
					<select name="selectedData" class="form-control-home input-lg">
						<option value="">---Please select---</option> <!-- not selected / blank option -->
				      	<option value="goods">Goods</option>
				      	<option value="service">Service</option>
				    </select>
					<select class="form-control-home input-lg">
						<option style="display:none;">Categories</option>
						<option ng-repeat="categories in categoriesData" value="{{categories.category_name}}">{{categories.category_name}}</option>
					</select>
					<select class="form-control-home input-lg">
						<option style="display:none;">Location</option>
						<option ng-repeat="province in provinceData" value="{{province.province_name}}">{{province.province_name}}</option>
					</select>
				</div>
				<input class="input-lg" type="text" placeholder="ex. Creative">
				<button class="btn btn-success btn-lg" style="vertical-align:-1px">Search</button>
			</div>
		</div>
	</div>
</div>
<footer class="footer-home">
	<div class="footer-above">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-6 text-center">
					<h3>About Us</h3>
					<a href="#"><h4 style="padding-bottom:8px">What is Sidekeek?</h4></a>
					<a href="#"><h4 style="padding-bottom:8px">How it Works</h4></a>
					<a href="#"><h4 style="padding-bottom:8px">Feedback</h4></a>
				</div>
				<div class="footer-col col-md-6 text-center">
					<h3>Help</h3>
					<ul style="padding:0">
						<a href="#"><li>FAQ</li></a>
						<a href="#"><li>Terms of Use</li></a>
						<a href="#"><li>Rules and Regulations</li></a>
						<a href="#"><li>Privacy Policy</li></a>
						<a href="#"><li>Support</li></a>
					<ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-below" style="padding-top:5px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="footer-col text-center">
						<h3 style="margin-bottom:10px; margin-top:10px">Join Us</h3>
						<ul class="list-inline" style="margin-bottom:25px">
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					© 2016 Sidekeek. Inc
				</div>
			</div>
		</div>
	</div>
</footer>
