
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="desc">
				<h1>Business-to-Business Marketplace</h1>
				<p>Temukan berbagai supplier barang dan jasa, hanya disini.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="search">
				<div class="btn-search">
					<select class="form-control input-lg" placeholder="test">
						<option>Goods</option>
						<option>Service</option>
					</select>
					<select class="form-control input-lg">
						<option style="display:none;">Categories</option>
						<option>1</option>
					</select>
					<select class="form-control input-lg">
						<option style="display:none;">Location</option>
						<option>1</option>
					</select>
				</div>
				<input class="input-lg" type="text" placeholder="ex. Creative">
				<button class="btn btn-success btn-lg">Search</button>
			</div>
		</div>
	</div>
</div>
<footer>
			<div class="footer-above">
				<div class="container">
					<div class="row">
						<div class="footer-col col-md-4">
							<h3>About Us</h3>
							<h3>What is Sidekeek?</h3>
							<h3>How it Works</h3>
							<h3>Feedback</h3>
						</div>
						<div class="footer-col col-md-4 text-center">
							<h3>Join Us</h3>
							<ul class="list-inline">
								<li>
									<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
								</li>
								<li>
									<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
								</li>
								<li>
									<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
								</li>
							</ul>
						</div>
						<div class="footer-col col-md-4 text-right">
							<h3>Help</h3>
							<ul>
								<li>FAQ</li>
								<li>Terms of Use</li>
								<li>Rules and Regulations</li>
								<li>Privacy Policy</li>
								<li>Support</li>
							<ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-below">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-right">
							© 2016 Sidekeek. Inc
						</div>
					</div>
				</div>
			</div>
		</footer>
	