<div class="container content">
	<div class="row">
		<div class="col-lg-12">
			<div id="logbox">
				<form>
					<h3 class="text-center">Log in</h3>
					<input type="email" placeholder="Email address" class="form-control" id="emailUser"/>
					<input type="password" placeholder="Password" id="passwordUser" required="required" class="form-control"/>
					<a href="#/index">
						<input type="submit" value="Log In" class="inputButton" ng-click="login()"/>
					</a>
				</form>
			</div>
		</div>
	</div>
</div>
