<div class="container content">
    <div class="row">
        <div class="col-lg-12">
            <div class="container latar">
                <div class="row">
                    <div class="col-lg-12 text-center container">
                        <h2>{{dataProfile.title}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="assets/img/startbg.jpg" alt=""/>
                    </div>
                    <div class="col-lg-6">
                        <h3>{{dataAccount.company_name}}</h3>
                        <p>{{dataProfile.category_name}}</p>
                        <p>{{dataAccount.address}}</p>
                        <p>{{dataAccount.city_name}}, Indonesia</p>
                    </div>
                </div>
            </div>
            <uib-tabset justified="true" type="pills">
                <uib-tab heading="Profile">
                    <div class="container latar">
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Company Profile</h4>
                                <p style="font-size: 11pt; text-align: justify;">
                                    {{dataProfile.company_desc}}
                                </p>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Product">
                    <div class="latar container">
                        <div class="list-product" ng-repeat="dataProduct in dataProducts">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="upload text-center">
                                        <div class="box-product-profile container-fluid">
                                            <div class="file-upload text-center">
                                                <img src="assets/img/uploadfoto.png" alt="" />
                                            </div>
                                        </div>
                                        <div class="box-kecil-product">
                                            <img src="assets/img/uploadfoto.png" alt="" />
                                        </div>
                                        <div class="box-kecil-product">
                                            <img src="assets/img/uploadfoto.png" alt="" />
                                        </div>
                                        <div class="box-kecil-product">
                                            <img src="assets/img/uploadfoto.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <p>{{dataProduct.product_name}}</p>
                                    <p>Rp. {{dataProduct.price}}</p>
                                    <p style="font-size: 11pt">{{dataProduct.product_desc}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Portofolio">
                    <div class="latar container">
                        <div class="list-portofolio">
                            <div class="row">
                                <div class="col-lg-4" ng-repeat="dataPortofolio in dataPortofolios">
                                    <div class="portofolio">
                                        <img ng-src={{dataPortofolio.img_base64}}>
                                        <div class="desc-porto text-center hvr-pop">
                                            <h4>{{dataPortofolio.title}}</h4>
                                            <p>{{dataPortofolio.description}}</p>
                                            <button type="button" class="btn btn-success" ng-click="viewPortoDetails(dataPortofolio.id_portofolio)">More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<footer>
	<div class="footer-above">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-6 text-center">
					<h3>About Us</h3>
					<a href="#"><h4 style="padding-bottom:8px">What is Sidekeek?</h4></a>
					<a href="#"><h4 style="padding-bottom:8px">How it Works</h4></a>
					<a href="#"><h4 style="padding-bottom:8px">Feedback</h4></a>
				</div>
				<div class="footer-col col-md-6 text-center">
					<h3>Help</h3>
					<ul style="padding:0">
						<a href="#"><li>FAQ</li></a>
						<a href="#"><li>Terms of Use</li></a>
						<a href="#"><li>Rules and Regulations</li></a>
						<a href="#"><li>Privacy Policy</li></a>
						<a href="#"><li>Support</li></a>
					<ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-below" style="padding-top:5px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="footer-col text-center">
						<h3 style="margin-bottom:10px; margin-top:10px">Join Us</h3>
						<ul class="list-inline" style="margin-bottom:25px">
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					© 2016 Sidekeek. Inc
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="overlay-portofolio-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="portofolio-details">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="fa fa-2x fa-times" style="color: #cecece; margin-left: 3px;" ng-click="close()"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center col-lg-12">
                            <img ng-src={{portoDetail.img_base64}}>
                            <div class="text-center">
                                <h3 style="color: #000;">{{portoDetail.title}}</h3>
                                <p style="color: #000;">{{portoDetail.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input class="hide" autofocus ng-keyup="escape($event.keyCode)">
</div>

<!-- <div class="container content">
    <div class="latar container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Company Profle</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/startbg.jpg" alt=""/>
            </div>
            <div class="col-lg-6">
                <h1>SONY Record Co.</h1>
            </div>
        </div>
    </div>
</div> -->
