<div class="container content">
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="desc-start">
				<h1>Produk apa yang dijual perusahaan anda?</h1>
			</div>
			<div class="button-start">
				<div class="col-lg-6">
					<button class="btn btn-success btn-lg">Goods</button>
					<div class="col-lg-8 col-lg-offset-2">
						<p><strong>barang berwujud seperti bahan baku, komponen, maupun produk jadi (termasuk sewa/subkontrak)</strong></p>
					</div>
				</div>
				<div class="col-lg-6">
					<button class="btn btn-success btn-lg">Service</button>
					<div class="col-lg-8 col-lg-offset-2">
						<p><strong>jasa atau layanan pekerjaan berdasarkan keahlian tertentu</strong></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<a href="#/next-start"><button class="btn btn-success btn-lg pull-right btn-start-next">Next</button></a>
		</div>
	</div>
</div>
