<div class="container content">
	<div class="row">
		<div class="col-lg-12">
			<div id="logbox">
				<form id="signup" method="post" action="/signup" >
					<h3 class="text-center">Sign Up</h3>
					<input name="user[email]" type="email" placeholder="Email address" class="input pass"/>
					<input name="user[password]" type="password" placeholder="Choose a password" required="required" class="input pass"/>
					<input name="user[password2]" type="password" placeholder="Confirm password" required="required" class="input pass"/>
					<input type="submit" value="Sign me up!" class="inputButton"/>
				</form>
			</div>
		</div>
	</div>
</div>