<div class="top-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>community guidelines</h1>
            </div>
        </div>
    </div>
</div>
<div class="container test" style="margin-top: 50px;">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p>Community guidelines ini ada untuk membantu anda memahami etika saat menjadi pengguna Sidekeek.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p>Hal-hal yang harus dilakukan: </p>
            <ol>
                <li>Bersikap sopan<br>
                    Gunakan bahasa dan cara yang sopan saat berinteraksi dengan pengguna lain.
                </li>
                <li>Berkontribusi<br>
                    Berikan review terhadap klien anda dan lakukanlah secara objektif, selain itu laporkan bila anda mengetahui ada suatu pelanggaran yang terjadi. Kami juga sangat menanti feedback dari anda agar Sidekeek bisa menjadi lebih baik.
                </li>
                <li>Hargai kekayaan intelektual<br>
                    Gunakan konten (tulisan, gambar, video, dll) milik anda sendiri atau dengan seizin pihak yang berhak atas konten tersebut.                </li>
                <li>Berkata jujur<br>
                    Berikan informasi yang benar dan jujur, terutama saat memberikan review. Kami dapat memberi teguran hingga menghapus akun pengguna yang melakukan pelanggaran.
                </li>
                <li>Cepat tanggap<br>
                    Berikan respon yang cepat saat calon klien menghubungi anda. Jangan biarkan calon klien anda menunggu terlalu lama.
                </li>
                <li>Lebih baik gunakan Bahasa Indonesia<br>
                    Karena Sidekeek berbasis di Indonesia, kami menyarankan agar anda menggunakan pengantar Bahasa Indonesia. Sebenarnya anda boleh menggunakan Bahasa Inggris, tapi tolong pastikan bahwa penulisannya telah tersusun secara baik dan benar.
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p>Hal-hal yang tidak boleh dilakukan: </p>
            <ol>
                <li>Mengganggu orang lain<br>
                    Kami tidak mentolerir perilaku yang mengganggu, mengintimidasi, menebar kebencian, atau spam. Kami dapat memberi teguran hingga menghapus akun pengguna yang melakukan pelanggaran.
                </li>
            </ol>
        </div>
    </div>
    <br>
        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-blue">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-blue">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-blue">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-blue">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>-->
    </div>
</div>
<footer ui-view="footer">
</footer>
