<div class="top-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Goods Catalogue</h1>
                <p>Seek what you need</p>
            </div>
        </div>
        <div class="row">
    		<div class="col-lg-12">
    			<div class="search">
    				<div class="btn-search">
    					<select name="selectedData" id="tipeSearch" class="form-control-discover input-lg">
    						<option value="">---Please select---</option> <!-- not selected / blank option -->
    				      	<option value="goods">Goods</option>
    				      	<option value="service">Service</option>
    				    </select>
    					<select class="form-control-discover input-lg" id="catSearch">
    						<option id="catSearch" style="display:none;">Categories</option>
    						<option ng-repeat="categories in categoriesData" value="{{categories.id_cat}}">{{categories.category_name}}</option>
    					</select>
    					<select class="form-control-discover input-lg" id="locSearch">
    						<option style="display:none;">Location</option>
    						<option ng-repeat="province in provinceData" value="{{province.id_province}}">{{province.province_name}}</option>
    					</select>
                        <input class="input-lg" type="text" id="querySearch" placeholder="ex. Creative">
                        <button class="btn btn-success btn-lg" ng-click='goSearch()' style="vertical-align:0px">Search</button>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<div class="container" style="margin-top: 50px;">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-lg-12">
            Sort by :
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" ng-repeat="host in hosts">
          <a ui-sref="profile({idHost:{{host.id_host}},type:'0'})">
              <div class="thumbnail border-green">
                  <img ng-src="{{host.img_base64}}" alt="...">
                  <div class="caption">
                      <h3>{{host.title}}</h3>
                      <h5>{{host.company_name}}</h5>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" ng-repeat="product in products">
          <a ui-sref="profile({idHost:{{product.id_host}},type:'1'})">
              <div class="thumbnail border-blue">
                  <img ng-src="{{product.img_base64}}" alt="...">
                  <div class="caption">
                      <h3>{{product.product_name}}</h3>
                      <p>{{product.product_name}}</p>
                  </div>
              </div>
          </a>
      </div>
        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-blue">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-blue">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-blue">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-blue">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>-->
    </div>
</div>
