<div class="container content">
    <div class="row">
        <div class="col-lg-12">
            <uib-tabset justified="true" type="pills" active="1">
                <uib-tab heading="Profile" select="setActiveTab(1)" active="active[0].status">
                    <div class="edit-profile-full">
                        <div class="row">
                            <div class="col-lg-6">
            					<input type="submit" value="Goods" class="category_button button_goods" ng-click="serviceGoodOnClick(1)"/>
            				</div>
            				<div class="col-lg-6 button-service">
            					<input type="submit" value="Service" class="category_button button_service" ng-click="serviceGoodOnClick(2)"/>
            				</div>
                        </div>
                        <label for="">Bussiness Field</label>
                        <select class="form-group form-control" id="category">
                            <option ng-repeat="categories in categoriesData" value="{{categories.id_cat}}" ng-if="dataProfile.category_name == categories.category_name" selected="selected">{{categories.category_name}}</option>
                            <option ng-repeat="categories in categoriesData" value="{{categories.id_cat}}" ng-if="dataProfile.category_name != categories.category_name">{{categories.category_name}}</option>
                        </select>
                        <div class="form-group form-group-xl">
                            <label for="">Title</label>
                            <input type="text" class="form-control" ng-model="dataProfile.title" id="title">
                        </div>
                        <div class="form-group">
                            <label for="">Company Description</label>
                            <textarea type="text" class="form-control" rows="10" placeholder="Company Description" id="companyDesc">{{dataProfile.company_desc}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                		<div class="col-lg-12">
                			<button type="button" class="btn btn-success btn-lg pull-right btn-edit-profile" ng-click="editProfiledesc()">Save Changes</button>
                		</div>
                	</div>
                </uib-tab>
                <uib-tab heading="Product" select="setActiveTab(2)" active="active[1].status">
                    <div class="edit-profile-full">
                        <div class="row">
                            <div ng-repeat="product in dataProducts" ng-if="dataProducts.length > 0">
                                <div class="col-lg-4">
                                    <div class="upload text-center">
                                        <div class="box container-fluid">
                                            <div class="file-upload text-center">
                                                <img ng-if="(product.featured_img == null)" src="assets/img/uploadfoto.png" alt="" />
                                                <img ng-if="(product.featured_img != null)" ng-src="{{product.featured_img.src}}" alt="" />
                                            </div>
                                        </div>
                                        <div class="box-kecil">
                                            <img ng-if="(product.images[0] == null)" src="assets/img/uploadfoto.png" alt="" />
                                            <img ng-if="(product.images[0] != null)" ng-src="{{product.images[0].src}}" alt="" />
                                        </div>
                                        <div class="box-kecil">
                                            <img ng-if="(product.images[1] == null)" src="assets/img/uploadfoto.png" alt="" />
                                            <img ng-if="(product.images[1] != null)" ng-src="{{product.images[1].src}}" alt="" />
                                        </div>
                                        <div class="box-kecil">
                                            <img ng-if="(product.images[2] == null)" src="assets/img/uploadfoto.png" alt="" />
                                            <img ng-if="(product.images[2] != null)" ng-src="{{product.images[2].src}}" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-group form-group-xl">
                                        <label for="">Product Name</label>
                                        <input type="text" class="form-control inputDisable" ng-model="product.product_name" id="product_name_{{product.id_product}}" disabled>
                                    </div>
                                    <div class="form-group form-group-xl">
                                        <label for="">Price</label>
                                        <input type="text" class="form-control inputDisable" ng-model="product.price" id="price_{{product.id_product}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Product Description</label>
                                        <textarea type="text" class="form-control inputDisable" rows="10" id="product_desc_{{product.id_product}}" disabled>{{product.product_desc}}</textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button ng-show="dataProducts != null" ng-hide="check == 1" type="button" class="btn btn-success btn-lg pull-right" style="margin-bottom:50px;" id="button" ng-click="removeDisable()">Edit</button>
                                    <button ng-show="check == 1" type="button" class="btn btn-success btn-lg pull-right" ng-click="editProductDesc(product.id_product)" style="margin-bottom:50px;" id="button">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-produk"></div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="circle" ng-click="addProduk()" id="add_produk">
                                <img src="assets/img/add.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <script src="assets/js/custom-file-input.js"></script>
                </uib-tab>
                <uib-tab heading="Portofolio" select="setActiveTab(3)" active="active[2].status">
                    <div class="edit-profile-full" style="padding-top:5px; margin-bottom:110px;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-4" style="padding-top:35px;" ng-repeat="portofolio in dataPortofolios" ng-if="dataPortofolios.length > 0">
                                    <div class="box-portofolio">
                                        <!-- <label for="">{{portofolio.id_portofolio}}</label> -->
                                        <div class="edit-portofolio">
                                            <img ng-src="{{portofolio.img_base64}}">
                                            <div class="desc-porto-edit text-center hvr-pop"  ng-click="viewPortoEditDetails(portofolio.id_portofolio)" data-toggle="modal" data-target="#editPorto">
                                                <button class="btn btn-success btn-lg" style="margin-top:150px;">Edit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="circle" style="margin-top: 35px" data-toggle="modal" data-target="#addPorto">
                                        <img src="assets/img/add.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<div class="modal fade" id="addPorto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add Portofolio</h4>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="upload">
                            <div class="box container-fluid">
                                <div class="file-upload text-center">
                                    <img src="assets/img/uploadfoto.png" alt="" />
                                    <input type="file" id="fileUploadImg" class="inputfile inputfile-1" ng-model="myFile" base-sixty-four-input/>
                                    <label for="fileUploadImg"><span><i class="fa fa-upload" style="padding-right: 5px;"></i>Choose a file&hellip;</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group form-group-xl">
                            <label for="">Title</label>
                            <input type="text" class="form-control" ng-model="form.title" autofocus ng-keyup="escapeAdd($event.keyCode)">
                        </div>
                        <div class="form-group">
                            <label for="">Description</label>
                            <textarea type="text" class="form-control" rows="6" id="portoDesc"></textarea>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="inputButton" ng-click="addNewPortofolio()">Save</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editPorto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit Portofolio</h4>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="upload">
                            <div class="box">
                                <div class="text-center">
                                    <img ng-src="{{editPortoDetails.img_base64}}" alt="" width="100%"/>
                                    <input type="file" id="fileUploadImg" class="inputfile inputfile-1" ng-model="myFile" base-sixty-four-input/>
                                    <label for="fileUploadImg"><span><i class="fa fa-upload" style="padding-right: 5px;"></i>Choose a file&hellip;</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group form-group-xl">
                            <label for="">Title</label>
                            <input type="text" class="form-control" ng-model="editPortoDetails.title" autofocus ng-keyup="escapeAdd($event.keyCode)">
                        </div>
                        <div class="form-group">
                            <label for="">Description</label>
                            <textarea type="text" class="form-control" rows="6" id="portoDesc" ng-model="editPortoDetails.description"></textarea>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="inputButton" ng-click="editPortofolio(editPortoDetails.id_portofolio)">Save</button>
			</div>
		</div>
	</div>
</div>

<!-- <input type="file" name="file-{{dataProduct.id_product}}" id="file-product-{{dataProduct.id_product}}" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
<label for="file-product-{{dataProduct.id_product}}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg><span>Choose a file&hellip;</span></label> -->
