<div class="container content">
    <div class="row">
        <div class="col-lg-12">
            <div class="container latar">
                <div class="row">
                    <div class="col-lg-12 text-center container">
                        <h2>{{dataProfile.title}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="assets/img/startbg.jpg" alt=""/>
                    </div>
                    <div class="col-lg-6">
                        <h3>{{dataAccount.company_name}}</h3>
                        <p>{{dataProfile.category_name}}</p>
                        <p>{{dataAccount.address}}</p>
                        <p>{{dataAccount.city_name}}, Indonesia</p>
                        <div>
                          <img ng-repeat="rate in dataProfile.rate track by $index" src="assets/img/star.png" style="width:20px" alt="" />
                            <!-- <img src="assets/img/star.png" style="width:20px" alt="" />
                            <img src="assets/img/star.png" style="width:20px" alt="" />
                            <img src="assets/img/star.png" style="width:20px" alt="" />
                            <img src="assets/img/star.png" style="width:20px" alt="" />
                            <img src="assets/img/star.png" style="width:20px" alt="" />
                            <img src="assets/img/star.png" style="width:20px" alt="" />
                            <img src="assets/img/star.png" style="width:20px" alt="" />
                            <img src="assets/img/star.png" style="width:20px" alt="" />
                            <img src="assets/img/star.png" style="width:20px" alt="" />
                            <img src="assets/img/star.png" style="width:20px" alt="" /> -->
                        </div>
                    </div>
                </div>
            </div>
            <uib-tabset justified="true" type="pills">
                <uib-tab index="0" heading="Profile" active="active[0].status">
                    <div class="container latar">
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Company Profile</h4>
                                <p style="font-size: 11pt; text-align: justify;">
                                    {{dataProfile.company_desc}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <h4>Review</h4>
                          </div>
                          <div ng-if="reviewData.length == 0" class="col-lg-12">
                            <p style="font-size: 11pt; text-align: justify;">No Review Yet</p>
                          </div>

                            <div ng-if="reviewData.length > 0" class="col-lg-12" ng-repeat="review in reviewData">
                                <hr>
                                  <div class="col-lg-2 text-center">
                                      <img class="img-circle" src="assets/img/profile.png" style="width: 50%" alt="" />
                                      <h6>{{review.name}}
                                      </h6>
                                  </div>
                                  <div class="col-lg-10">
                                      <div class="star-img">
                                        <img ng-repeat="star in review.rate track by $index" src="assets/img/star.png" style="width:20px" alt="" />
                                      </div>
                                      <p style="font-size: 11pt; text-align: justify;">{{review.comment}}</p>
                                  </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Product" active="active[1].status">
                    <div class="latar container">
                        <div class="list-product" ng-repeat="dataProduct in dataProducts">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="upload text-center">
                                        <div class="box container-fluid">
                                            <div class="text-center">
                                                <img ng-if="(product.featured_img == null)" src="assets/img/uploadfoto.png" alt="" style="margin-top:80px; width:100px;"/>
                                                <img ng-if="(product.featured_img != null)" ng-src="{{product.featured_img.src}}" alt="" width="100%"/>
                                            </div>
                                        </div>
                                        <div class="box-kecil">
                                            <img ng-if="(product.images[0] == null)" src="assets/img/uploadfoto.png" alt="" style="width: 30px;"/>
                                            <img ng-if="(product.images[0] != null)" ng-src="{{product.images[0].src}}" alt="" />
                                        </div>
                                        <div class="box-kecil">
                                            <img ng-if="(product.images[1] == null)" src="assets/img/uploadfoto.png" alt="" style="width: 30px;"/>
                                            <img ng-if="(product.images[1] != null)" ng-src="{{product.images[1].src}}" alt="" />
                                        </div>
                                        <div class="box-kecil">
                                            <img ng-if="(product.images[2] == null)" src="assets/img/uploadfoto.png" alt="" style="width: 30px;"/>
                                            <img ng-if="(product.images[2] != null)" ng-src="{{product.images[2].src}}" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <p>{{dataProduct.product_name}}</p>
                                    <p>Rp. {{dataProduct.price}}</p>
                                    <p style="font-size: 11pt">{{dataProduct.product_desc}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Portofolio" active="active[2].status">
                    <div class="latar container">
                        <div class="list-portofolio">
                            <div class="row">
                                <div class="col-lg-4" ng-repeat="dataPortofolio in dataPortofolios">
                                    <div class="portofolio">
                                        <img ng-src={{dataPortofolio.img_base64}}>
                                        <div class="desc-porto text-center hvr-pop">
                                            <h4>{{dataPortofolio.title}}</h4>
                                            <p>{{dataPortofolio.description}}</p>
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#viewPorto" ng-click="viewPortoDetails(dataPortofolio.id_portofolio)">More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
