<div class="top-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Rules - regulations</h1>
            </div>
        </div>
    </div>
</div>
<div class="container test" style="margin-top: 50px;">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p>Sebelum anda menggunakan Sidekeek, ada beberapa peraturan yang harus dipahami dan dipatuhi oleh seluruh pengguna.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h4>Menjadi host</h4>
            <p>Host harus mewakili sebuah perusahaan, baik perusahaan yang sudah berbadan hukum maupun belum. Host harus merupakan perusahaan vendor yang menjual produk pendukung kegiatan usaha (B2B), <u>bukan</u> produk untuk end-consumer. Sidekeek <u>tidak mengizinkan</u> pekerja lepasan (freelancer) untuk menjadi host atas nama karir pribadi.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h4>Kegiatan yang dilarang</h4>
            <p>Pengguna tidak boleh menyalahgunakan Sidekeek untuk melakukan kegiatan yang melanggar hukum di Indonesia dan negara anda berasal. Hal-hal yang juga bisa dianggap sebagai penyalahgunaan berkaitan dengan :
                <ul>
                    <li>Alkohol</li>
                    <li>Obat-obatan terlarang dan sejenisnya</li>
                    <li>Senjata Api</li>
                    <li>Material Pornografi</li>
                    <li>Undian dan perjudian</li>
                    <li>Politik</li>
                    <li>Aktivitas ilegal, tidak pantas, dan ofensif</li>
                </ul>
            </p>
            <p>Peraturan ini memang tidak mencakup semua aspek mengenai penggunaan Sidekeek, namun kami rasa cukup untuk menggambarkan maksud dari peraturan yang berlaku.</p>
        </div>
    </div>
    <br>
        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-blue">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-blue">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-blue">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-blue">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#">
                <div class="thumbnail border-green">
                    <img src="assets/img/test2.jpg" alt="...">
                    <div class="caption">
                        <h3>Title</h3>
                        <h5>Company Name</h5>
                        <p>Description</p>
                    </div>
                </div>
            </a>
        </div>-->
    </div>
</div>
<footer ui-view="footer">
</footer>
