<div class="container content">
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="desc-start">
				<h1>Produk apa yang dijual perusahaan anda?</h1>
			</div>
			<div class="button-start">
				<div class="col-lg-6">
					<input type="submit" value="Goods" class="inputButton button-goods" ng-click="serviceGoodOnClick(1)"/>
				</div>
				<div class="col-lg-6 button-service">
					<input type="submit" value="Service" class="inputButton button-service" ng-click="serviceGoodOnClick(2)"/>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<p id="button-goods">Barang berwujud seperti bahan baku, komponen, maupun produk jadi (termasuk sewa/subkontrak)</p>
			<p id="button-service">Jasa atau layanan pekerjaan berdasarkan keahlian tertentu</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-center">
			<a ui-sref="next-start"><button class="btn btn-success btn-lg btn-start-next" ng-click="submitFirst()">Next</button></a>
		</div>
	</div>
</div>
